<link rel="stylesheet" href="/styles1.css" >
<br><br>
        <header>
            <center> <h1>club student table</h1></center>
         </header>
         
           
            
             <table class="vitamins">
         
                 <center> 
                 <thead>
                     <tr>
                         <th>id</th>
                         <th>firstname</th>
                         <th>lastname</th>
                         <th>phone_number</th>
                         <th>school</th>
                         <th>interest</th>
                         <th>club</th>
                       
                      
                        
                     </tr>
                 </thead>
             </center>
         
            
                <tfoot>
                 <tr>
                     <td colspan="4"></td>
                 </tr>
                </tfoot>
             </div>
         
              <div class="tbl-content">
                 
                     <tbody>
                       
                         <tr>
                             <% for (let i = 0; i < data.length; i++) { %>
                                 <td><%= data[i][0] %></td>
                                 <td><%= data[i][1] %></td>
                                 <td><%= data[i][2] %></td>
                                 <td><%= data[i][3] %></td>
                                 <td><%= data[i][4] %></td>
                                 <td><%= data[i][5] %></td>
                                 <td><%= data[i][6] %></td>
                                 
         
                               
         
                         </tr>
                         <% }%>
                     </tbody>
                 </table>
        
    </div> 
    </section>

    <br><br><br><br>
    <center>  <a href="/data2" class="next">Next &raquo;</a></center>
    